---
const source = 'https://botw-compendium.herokuapp.com/api/v3/compendium/all';
const res = await fetch(source);
const data = await res.json();
---

<ul class="cards">
  {data?.data.map(item => (
    <li class="card-item">
      <figure>
        <img
          class="card-image"
          src={item.image}
          alt={item.name}
        />
        <figcaption>
          <p>{item.description}</p>
          <p>
            <strong>Locations:</strong>
            {item.common_locations?.join(', ') || '–'}
          </p>
          <p>
            <strong>Drops:</strong>
            {item.drops?.join(', ') || '–'}
          </p>
        </figcaption>
      </figure>
      <h3>{item.name}</h3>
      <p>{item.category}</p>
    </li>
  ))}
</ul>